body * {
	font-family: "Prata", serif;
	font-size: 18px;
}

// Скрывает элемент, но он остается читаем браузером и скринридерами (например для checkbox)
/* .vissually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
} */

// Подсветка при нажатии на button на android

/* button {
	-webkit-tap-highlight-color: transparent;
} */